name: zqfx

on:
    workflow_dispatch:
    schedule:
        - cron: "32 0-16 * * *"
    watch:
        types: [started]
    repository_dispatch:
        types: zqfx

jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event.repository.owner.id == github.event.sender.id
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: "Set up Python"
              uses: actions/setup-python@v1
              with:
                  python-version: 3.7
            - name: 'Install requests'
              run: |
                pip install requests
                pip install json
                pip install random,string

            - name: "运行 喜马拉雅极速版"
              run: python3 Task/zqfx.py
