name: zqfx

on:
    workflow_dispatch:
    schedule:
        - cron: "2,32 0-16,22,23 * * *"
    watch:
        types: [started]
    repository_dispatch:
        types: zqfx

jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event.repository.owner.id == github.event.sender.id
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: "Set up Python"
              uses: actions/setup-python@v1
              with:
                  python-version: 3.8
            - name: "安装依赖包"
              run: pip install -r ./requirements.txt

            - name: "运行 zqfx"
              run: python3 Task/zqfx.py
